{
  "infraHPortS": {
    "attributes": {
     "name": "eth{{ item.module }}-{{ item.int_num }}",
    },
    "children": [
      {
        "infraPortBlk": {
          "attributes": {
            "name": "portblk-eth{{ item.module }}-{{ item.int_num }}",
            "fromCard": "{{ item.module }}",
            "fromPort": "{{ item.int_num }}",
            "toCard": "{{ item.module }}",
            "toPort": "{{ item.int_num }}"
          }
        } 
      },
      {
        "infraRsAccBaseGrp": {
          "attributes": {
            "tDn": "uni/infra/funcprof/accbundle-{{ name_prefix }}_wan_ipg"
          }
        }  
      }  
    ]  
  }
}

