{
  "l3extOut":{
    "attributes":{
      "descr":"",
      "dn":"uni/tn-common/out-{{ item.name }}",
      "enforceRtctrl":"export",
      "name":"{{ item.name }}",
      "nameAlias":"",
      "ownerKey":"",
      "ownerTag":"",
      "targetDscp":"unspecified"
    },
    "children":[
      {
        "ospfExtP":{
          "attributes":{
            "areaCost":"{{ item.ospf_area_cost }}",
            "areaCtrl":"redistribute,summary",
            "areaId":"0.0.0.{{ item.ospf_area }}",
            "areaType":"regular",
            "descr":"",
            "nameAlias":""
          }
        }
      },
      {
        "l3extRsL3DomAtt":{
          "attributes":{
            "tDn":"uni/l3dom-{{ l3_ext_connection_name }}"
          }
        }
      },
      {
        "l3extRsEctx":{
          "attributes":{
            "tnFvCtxName":"{{ l3_ext_connection_name }}-vrf"
          }
        }
      },
      {
        "l3extLNodeP":{
          "attributes":{
            "configIssues":"",
            "descr":"",
            "name":"BorderLeaves",
            "nameAlias":"",
            "ownerKey":"",
            "ownerTag":"",
            "tag":"yellow-green",
            "targetDscp":"unspecified"
          },
          "children":[
            {
              "l3extRsNodeL3OutAtt":{
                "attributes":{
                  "rtrId":"{{ item.side_a.router_id }}",
                  "rtrIdLoopBack":"yes",
                  "tDn":"topology/pod-1/node-{{ item.side_a.node_id }}"
                },
                "children":[
                  {
                    "l3extInfraNodeP":{
                      "attributes":{
                        "descr":"",
                        "fabricExtCtrlPeering":"no",
                        "fabricExtIntersiteCtrlPeering":"no",
                        "name":"",
                        "nameAlias":"",
                        "spineRole":""
                      }
                    }
                  }
                ]
              }
            },
            {
              "l3extRsNodeL3OutAtt":{
                "attributes":{
                  "rtrId":"{{ item.side_b.router_id }}",
                  "rtrIdLoopBack":"yes",
                  "tDn":"topology/pod-1/node-{{ item.side_b.node_id }}"
                },
                "children":[
                  {
                    "l3extInfraNodeP":{
                      "attributes":{
                        "descr":"",
                        "fabricExtCtrlPeering":"no",
                        "fabricExtIntersiteCtrlPeering":"no",
                        "name":"",
                        "nameAlias":"",
                        "spineRole":""
                      }
                    }
                  }
                ]
              }
            },
            {
              "l3extLIfP":{
                "attributes":{
                  "descr":"",
                  "name":"ospf_int_prof",
                  "nameAlias":"",
                  "ownerKey":"",
                  "ownerTag":"",
                  "tag":"yellow-green"
                },
                "children":[
                  {
                    "ospfIfP":{
                      "attributes":{
                        "authKeyId":"1",
                        "authType":"none",
                        "descr":"",
                        "name":"",
                        "nameAlias":""
                      },
                      "children":[
                        {
                          "ospfRsIfPol":{
                            "attributes":{
                              "tnOspfIfPolName":""
                            }
                          }
                        }
                      ]
                    }
                  },
                  {
                    "l3extRsPathL3OutAtt":{
                      "attributes":{
                        "addr":"0.0.0.0",
                        "descr":"",
                        "encap":"vlan-{{ item.vlan_id }}",
                        "encapScope":"local",
                        "ifInstT":"ext-svi",
                        "llAddr":"0.0.0.0",
                        "mode":"regular",
                        "mtu":"inherit",
                        "tDn":"topology/pod-1/protpaths-{{ item.side_a.node_id }}-{{ item.side_b.node_id }}/pathep-[{{ l3_ext_connection_name }}]",
                        "targetDscp":"unspecified"
                      },
                      "children":[
                        {
                          "l3extMember":{
                            "attributes":{
                              "addr":"{{ item.side_a.ptp_addr_cidr }}",
                              "descr":"",
                              "llAddr":"0.0.0.0",
                              "name":"",
                              "nameAlias":"",
                              "side":"A"
                            }
                          }
                        },
                        {
                          "l3extMember":{
                            "attributes":{
                              "addr":"{{ item.side_b.ptp_addr_cidr }}",
                              "descr":"",
                              "llAddr":"0.0.0.0",
                              "name":"",
                              "nameAlias":"",
                              "side":"B"
                            }
                          }
                        }
                      ]
                    }
                  },
                  {
                    "l3extRsNdIfPol":{
                      "attributes":{
                        "tnNdIfPolName":""
                      }
                    }
                  },
                  {
                    "l3extRsIngressQosDppPol":{
                      "attributes":{
                        "tnQosDppPolName":""
                      }
                    }
                  },
                  {
                    "l3extRsEgressQosDppPol":{
                      "attributes":{
                        "tnQosDppPolName":""
                      }
                    }
                  }
                ]
              }
            },
            {
              "bgpPeerP":{
                "attributes":{
                  "addr":"{{ item.bgp_peer.address }}",
                  "allowedSelfAsCnt":"3",
                  "ctrl":"send-com,send-ext-com",
                  "descr":"",
                  "name":"",
                  "nameAlias":"",
                  "peerCtrl":"bfd",
                  "privateASctrl":"",
                  "ttl":"1",
                  "weight":"0"
                },
                "children":[
                  {
                    "bgpRsPeerPfxPol":{
                      "attributes":{
                        "tnBgpPeerPfxPolName":""
                      }
                    }
                  }
                ]
              }
            }
          ]
        }
      },
      {
        "l3extInstP":{
          "attributes":{
            "descr":"",
            "matchT":"AtleastOne",
            "name":"{{ item.name }}-all",
            "nameAlias":"",
            "prefGrMemb":"exclude",
            "prio":"unspecified",
            "targetDscp":"unspecified"
          },
          "children":[
            {
              "fvRsProv":{
                "attributes":{
                  "matchT":"AtleastOne",
                  "prio":"unspecified",
                  "tnVzBrCPName":"external_access"
                }
              }
            },
            {
              "l3extSubnet":{
                "attributes":{
                  "aggregate":"shared-rtctrl",
                  "descr":"",
                  "ip":"0.0.0.0/0",
                  "name":"",
                  "nameAlias":"",
                  "scope":"import-security,shared-rtctrl,shared-security"
                }
              }
            },
            {
              "fvRsCustQosPol":{
                "attributes":{
                  "tnQosCustomPolName":""
                }
              }
            },
            {
              "fvRsCons":{
                "attributes":{
                  "prio":"unspecified",
                  "tnVzBrCPName":"external_access"
                }
              }
            }
          ]
        }
      },
      {
        "bgpExtP":{
          "attributes":{
            "descr":"",
            "nameAlias":""
          }
        }
      }
    ]
  }
}
